<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul style="display: flex; list-style-type: none; justify-content:flex-start;gap:20px">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Registration</a></li>
            <li><a href="/delete">Delete</a></li>
            <li><a href="/getuser">Find User</a></li>
            
        </ul>
    </nav>
</body>
</html>